html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 92, 92);
}

h1, h2{
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
}

canvas {
    width: 150px;
    height: 100px;
}

#back {
    width: 200px;
    position: absolute;
}

#source {
    object-fit: cover;
}

#content {
    width: 70%;
    height: 80%;
    background-color: rgb(116, 205, 195);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left, #right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right {
    justify-content: space-evenly;
}


#preview-container {
    width: 200px;
}

#preview {
    width: inherit;
}

#input-container {
    border: solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

input {
    width: 180px;
    margin-bottom: 10px;
}

#text-container {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

textarea {
    width: 300px;
    height: 200px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
}